/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .container {
    max-width: 750px;
  }

  .goods {
    flex-wrap: wrap;

    &__item {
      flex-basis: 49%;
      margin-bottom: 10px;
    }
  }

  .services {
    flex-wrap: wrap;

    &__item {
      flex-basis: 100%;
      margin-bottom: 10px;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }

  .callback {
    &-inner {
      padding: 35px 20px 60px 20px;
    }
    &__btn {
      &-header {
        display: none;
      }
    }
  }
  
  .header {
    &-nav {
      z-index: 10;
      transform: translate(0, 0);
      &_active .main-nav {
        display: flex;
        &__item {
          height: 100%;
        }
        &__link {
          visibility: visible;
        }
      }
      &__btn {
        display: block;
      }
    }
  }

  .main-nav {
    flex-direction: column;
    justify-content: flex-start;
    &__item {
      line-height: 70px;
      height: 0;
      transition: height .3s;
    }
    &__link {
      visibility: hidden;
      transition: all .31s;
    }
  }

  .section {
    padding: 40px 0;

    &__title {
      margin-bottom: 60px;
    }
  }

  .stock {
    flex-direction: column;

    &__item {
      margin: 0 0 10px 0;
    }
  }

  .advantage {
    flex-direction: column;

    &__item {
      margin: 10px 0 0 0;
      flex-basis: 0;
    }
  }

  .contacts {
    display: none;
    position: initial;
    width: auto;
    height: auto;
    padding: 0 20px 40px 20px;

    &__title {
      margin: 40px 0 30px 0;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .callback {
    &-content {
      &_white {
        text-align: center;
        margin: 0 auto;
      }
    }

    &__btn {
      &_header {
        display: none;
      }

      &_white {
        margin-top: 10px;
      }
    }

    &-content {
      &__tel {
        font-size: 16px;
      }
    }
  }

  .header {
    height: 400px;

    &-content {
      text-align: center;
      margin: 0 auto;

      &__title {
        margin: 20px 0;
        font-size: 28px;
      }

      &__text {
        margin-bottom: 40px;
      }

      &__desc {
        display: block;
      }

      &__link {
        display: block;
        margin: 10px 0 0 0;
      }

      &__btn {
        margin: 0 auto 10px 0;
      }
    }
  }

  .section {
    &__title {
      margin-bottom: 40px;
    }
  }

  .goods {
    &__item {
      flex-basis: 100%;
    }
  }

  .footer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    &-wrapper {
      padding: 30px 0 20px 0;
    }

    &-inner {
    }

    &__logo {
      margin-top: 40px;
      margin-bottom: 20px;
    }
    &__copyright {
      display: block;
      text-align: center;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}