@import 'fonts';
@import 'normalize';

/* Variables */
$active-color: #ffd200;
$main-color: #292929;
$white: #fff;
$black: #000;
$light-gray: #969696;
$gray: #626262;

/* Common */
* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Gotham Pro', sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

/* Header */
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  &-content {
    margin-left: 15px;
    &__title {
      color: $main-color;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 0 0 10px 0;
    }
    &__subtitle {
      color: $light-gray;
      font-size: 12px;
      font-weight: 300;
    }
  }
}

.callback {
  display: flex;
  &-wrapper {
    color: $white;
  }
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 60px 0;
  }
  &-content {
    margin-right: 30px;
    &__tel {
      display: block;
      padding-bottom: 10px;
      color: $main-color;
      font-size: 18px;
      font-weight: 700;
      text-decoration: none;
    }
    &__text {
      display: block;
      color: $light-gray;
      font-size: 12px;
    }
  }
  &__btn {
    padding: 0 20px;
    color: $main-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 2;
    background-color: $white;
    border: 2px solid $main-color;
    cursor: pointer;
  }
}