@import 'fonts';
@import 'normalize';

/* Variables */
$active-color: #ffd200;
$main-color: #292929;
$white: #fff;
$black: #000;
$light-gray: #969696;
$gray: #626262;
/* /Variables */

/* Common */
* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Gotham Pro', sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

/* /Common */

/* Logo */
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  &-content {
    margin-left: 15px;

    &__title {
      color: $main-color;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 0 0 10px 0;

      &_white {
        color: $white
      }
    }

    &__subtitle {
      color: $light-gray;
      font-size: 12px;
      font-weight: 300;
      margin: 0;

      &_white {
        color: $white
      }
    }
  }
}

/* /Logo */

/* Buttons */
.btn {
  width: 180px;
  line-height: 50px;
  color: #0d0d0d;
  font-size: 12px;
  font-weight: 700;
  background-color: $active-color;
  border: none;
  cursor: pointer;
  transition: all .2s ease-in;

  &:hover {
    background-color: darken($active-color, 8%);
  }

  &_large {
    width: 200px;
  }
}

/* Callback Section */
.callback {
  display: flex;

  &_white {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &-wrapper {
    color: $white;
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 60px 0;
  }

  &-content {
    margin-right: 30px;

    &_white {
      margin-right: 0;
      text-align: right;
    }

    &__tel {
      display: block;
      padding-bottom: 10px;
      color: $main-color;
      font-size: 18px;
      font-weight: 700;
      text-decoration: none;

      &_white {
        color: $white;
      }
    }

    &__text {
      display: block;
      color: $light-gray;
      font-size: 12px;

      &_white {
        color: $white;
      }
    }
  }

  &__btn {
    padding: 0 20px;
    color: $main-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 2;
    background-color: $white;
    border: 2px solid $main-color;
    cursor: pointer;
    transition: all .2s ease-in;

    &:hover {
      background-color: $main-color;
      color: $white;
    }

    &_white {
      color: $white;
      border: 2px solid $white;
      background-color: $main-color;
      margin-top: 30px;
      line-height: 3;

      &:hover {
        background-color: $white;
        color: $main-color;
      }
    }
  }
}

/* /Callback Section */

/* Main Navigation */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  height: 60px;

  &__item {
    list-style: none;
    width: 100%;
    text-align: center;
    line-height: 60px;
  }

  &__link {
    display: block;
    color: $black;
    font-weight: 500;
    text-decoration: none;
    background-color: #ffcc00;
    transition: all .2s ease-in;

    &:hover {
      background-color: lighten(#ffcc00, 8%);
    }
  }
}

/* Header */
.header {
  background: url('../img/header-bg.jpg') no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  height: 550px;
  z-index: 0;

  &-inner {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    background-color: rgba(#303030, .7);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
  }

  &-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);
    z-index: 5;

    &__btn {
      display: none;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $white;
      border: solid 1px $main-color;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      cursor: pointer;

      &-hamburger {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 20px;
        height: 2px;
        background-color: $main-color;

        &::after,
        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 20px;
          height: 2px;
          background-color: $black;
          transition: all .2s ease-in;
        }

        &::after {
          transform: translate(0, 5px);

        }

        &::before {
          transform: translate(0, -5px);
        }
      }
    }
  }

  &-content {
    z-index: 5;
    color: $white;

    &__title {
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 0 40px 0;
    }

    &__text {
      font-weight: 300;
      line-height: 2;
      margin: 0 0 65px 0;
    }

    &__btn {
      margin-right: 30px;
    }

    &__desc {
      font-size: 12px;
    }

    &__link {
      color: $white;
      font-weight: 500;
      margin-left: 10px;
    }
  }
}

/* Section */
.section {
  padding: 80px 0;

  &__title {
    text-align: center;
    color: $main-color;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 80px;
  }
}

/* /Section */

/* Stock Section */
.stock {
  display: flex;
  justify-content: space-between;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 30px 0;
    text-align: center;
    flex-basis: 300px;
    margin-right: 20px;
    border: 2px solid #f6f6f6;
    transition: all .2s ease-in;

    &:hover {
      background-color: #f6f6f6;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__img {}

  &__title {
    color: $main-color;
    font-size: 15px;
    font-weight: 500;
    text-decoration: underline;
    margin: 45px 0 20px 0;
  }

  &__text {
    color: $gray;
    font-size: 13px;
    font-weight: 300;
    margin: 0 auto 30px auto;
    width: 225px;
    flex: 1;
  }

  &__price {
    display: block;
    color: #0f0f0f;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
  }
}

/* /Stock Section */

/* Advantage Section */
.advantage {
  display: flex;

  &-wrapper {
    background-color: #f4f4f4;
  }

  &__item {
    flex-basis: 300px;
    text-align: center;
    background-color: #f4f4f4;
    border: 2px solid #ffffff;
    margin-right: 20px;
    padding: 40px 0;
    transition: all .2s ease-in;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: #fff;
    }
  }

  &__title {
    color: $main-color;
    font-size: 15px;
    font-weight: 500;
    margin: 40px 0 20px 0;
  }

  &__text {
    color: $main-color;
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto;
    width: 210px;
  }
}

/* /Advantage Section */

/* Goods Section */
.goods {
  display: flex;
  justify-content: space-between;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 220px;
    border: 2px solid #f6f6f6;
    padding: 20px 0;
    transition: all .2s ease-in;

    &:hover {
      background-color: #f6f6f6;
    }
  }

  &__img {
    position: relative;
  }

  &__stock {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
    line-height: 2;
    padding: 0 10px;
  }

  &__title {
    color: $main-color;
    font-size: 13px;
    text-decoration: underline;
    text-align: center;
    flex: 1;
  }

  &__recent-price {
    color: #979797;
    font-size: 10px;
    text-decoration: line-through;
    margin-right: 15px;
  }

  &__price {
    color: $black;
    font-size: 16px;
    font-weight: 500;

    &_stock {
      color: #ff0000;
    }

    &-content {
      display: flex;
      align-items: center;
    }
  }

  &__btn {
    margin-top: 25px;
  }
}

/* /Goods Section */

/* Services Section */
.services {
  display: flex;
  justify-content: space-between;

  &-wrapper {
    background-color: #f4f4f4;
  }

  &__item {
    text-align: center;
    flex-basis: 300px;
    border: 2px solid #fff;
    padding: 50px 0 40px 0;
    transition: all .2s ease-in;

    &:hover {
      background-color: #fff;
    }
  }

  &__img {
    height: 120px;
  }

  &__title {
    color: $main-color;
    font-size: 15px;
    font-weight: 500;
    text-decoration: underline;
    margin: 30px 0 0 0;
  }
}

/* /Services Section */

/* Section Map & Contacts */
.map,
.section-map {
  height: 520px;
  background-color: $main-color;
}

.section-map {
  position: relative;
}

.contacts {
  position: absolute;
  top: 80px;
  right: 7%;
  width: 380px;
  height: 360px;
  background-color: #ffffff;
  color: $main-color;
  font-weight: 500;
  padding-left: 60px;

  &__phone,
  &__adress,
  &__mail {
    display: block;
  }

  &__title {
    color: $main-color;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 60px 0 50px 0;
  }

  &__phone {
    color: $main-color;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 40px;
    }
  }

  &__adress {
    margin-bottom: 40px;
  }

  &__mail {
    color: $main-color;
  }
}

/* /Section Map & Contacts */

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &-wrapper {
    padding: 55px 0 40px 0;
    background-color: $main-color;
  }

  &__logo {
    margin-bottom: 55px;
  }

  &__copyright {
    color: $white;
  }
}

/* /Footer */

@import 'media';